*.mymetadata
*.checkstyle
*.classpath
*.project
*.war
*.zip
*.dat
*.rar
.settings/
/indexes/
*/target/*
/src/main/webapp/WEB-INF/classes/
/src/main/webapp/userfiles/
*.iml
.idea
/competency-java/target
LICENSE
*.ipr
*.iws
/out/
rebel.xml
logs
temp